name: FLOW-JS-SDK Continuous Integration

on:
  workflow_dispatch:
    inputs:
      CLI_BUILD_RUN_ID:
        description: "flow-cli artifact url"
        type: string
  pull_request:
    branches: [master]

jobs:
  test_pull_request:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Find artifact id for the cli
        if: github.event.inputs.CLI_BUILD_RUN_ID != ''
        run: >
          ARTIFACT_ID=$(
          curl 
          -H "Accept: application/vnd.github+json" 
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}"
          -H "X-GitHub-Api-Version: 2022-11-28"
          https://api.github.com/repos/onflow/devex-tests/actions/runs/${{ github.event.inputs.CLI_BUILD_RUN_ID }}/artifacts
          | jq ".artifacts[0].id")
          && echo ARTIFACT_ID=${ARTIFACT_ID}
          && echo "ARTIFACT_ID=${ARTIFACT_ID}" >> $GITHUB_ENV
          && echo "CLI_URL=https://api.github.com/repos/onflow/devex-tests/actions/artifacts/${ARTIFACT_ID}/zip" >> $GITHUB_ENV
          && echo CLI_URL=${{ env.CLI_URL }}
     
      - name: Download flow-cli atrifact
        if: github.event.inputs.CLI_BUILD_RUN_ID != ''
        run: >
          curl -L -o artifact.zip 
          -H "Accept: application/vnd.github+json" 
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}"
          -H "X-GitHub-Api-Version: 2022-11-28"
          ${{ env.CLI_URL }}
        # https://api.github.com/repos/onflow/devex-tests/actions/artifacts/479746403/zip

      - name: Unzip artifact
        if: github.event.inputs.CLI_BUILD_RUN_ID != ''
        run: unzip -j -o artifact.zip

      - name: Copy flow binary 
        if: github.event.inputs.CLI_BUILD_RUN_ID != ''
        run: |
          sudo cp flow-x86_64-linux- /usr/local/bin/flow
          sudo chmod a+x /usr/local/bin/flow
          uname -a
          ls -l /usr/local/bin/flow
          flow version
            
      # if no beta flow-cli is provided, install official version 
      - name: Install released flow-cli
        if: github.event.inputs.CLI_BUILD_RUN_ID == ''
        run: |
          sh -ci "$(curl -fsSL https://raw.githubusercontent.com/onflow/flow-cli/master/install.sh)"
          flow version
      # /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
      # brew install flow-cli

      ### Run tests

      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - run: make ci